<div class="container mx-auto p-6 text-white overflow-x-hidden">
  <h2 class="text-3xl font-bold mb-6 text-center">My Albums</h2>

  <div class="mb-6 flex flex-col gap-2 lg:flex-row lg:gap-0 items-center justify-center">
    <input [(ngModel)]="title" type="text" placeholder="Album Title" class="border p-2 rounded-lg mr-2 mb-2 md:mb-0"
      [ngModelOptions]="{standalone: true}" />

    <input [(ngModel)]="description" type="text" placeholder="Album Description" class="border p-2 rounded-lg mr-2 mb-2 md:mb-0"
      [ngModelOptions]="{standalone: true}" />

    <input type="file" multiple #fileInput class="border p-2 rounded-lg mr-2 mb-2 md:mb-0" />

    <button (click)="createAlbum()" class="bg-blue-600 hover:bg-blue-700 text-white px-4 py-2 rounded-lg transition duration-300">
      Create Album
    </button>
  </div>

  <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
    <div *ngFor="let album of albums" class="bg-white rounded-lg p-4 transition duration-300">
      <div (click)="navigateToAlbumPage(album)" class="cursor-pointer">
        <img [src]="album.images[0]" alt="{{ album.title }}" class="w-full h-48 object-cover rounded-md mb-4" />
        <h3 class="text-xl font-semibold text-gray-800">{{ album.title }}</h3>
        <p class="text-sm text-gray-600">{{ album.description }}</p>
      </div>

      <div class="mt-4 flex justify-between items-center text-sm">
        <span class="font-medium text-gray-700">By: {{ album.username }}</span>
        <div class="flex items-center">
          <span class="bg-blue-600 text-white px-3 py-1 rounded-md mx-1 cursor-pointer">
            {{ album.images.length }} Images
          </span>
          <span class="bg-red-600 text-white px-3 py-1 rounded-md cursor-pointer" (click)="deleteAlbum(album._id)">
            Delete
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<app-loader [isLoading]="isLoading" message="{{loadingMessage}}"></app-loader>