<!-- Edit User Modal -->
<div *ngIf="isOpen" class="fixed inset-0 flex justify-center items-center bg-gray-500 bg-opacity-50 z-50">
  <div class="bg-white p-6 rounded-lg shadow-lg w-96">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4">
      {{isNewUser ? 'Add': 'Edit'}} User
    </h2>
    <form *ngIf="user">
      <!-- Username Field -->
      <label class="block text-gray-700 mb-2">Username</label>
      <input type="text" [(ngModel)]="user.username" class="border border-gray-300 rounded p-2 w-full mb-3"
        [ngModelOptions]="{standalone: true}" autocomplete="one-time-code" />
      <!-- Email Field -->
      <label class="block text-gray-700 mb-2">Email</label>
      <input type="email" [(ngModel)]="user.email" class="border border-gray-300 rounded p-2 w-full mb-3" disabled="{{!isNewUser}}"
        [ngModelOptions]="{standalone: true}" />

      <!-- Password Field -->
      <label class="block text-gray-700 mb-2">Password</label>
      <input type="password" [(ngModel)]="user.password" class="border border-gray-300 rounded p-2 w-full mb-3"
        [ngModelOptions]="{standalone: true}" autocomplete="one-time-code" />

      <!-- Role Dropdown -->
      <label class="block text-gray-700 mb-2">Role</label>
      <select [(ngModel)]="user.role" class="border border-gray-300 rounded p-2 w-full mb-3"
        [ngModelOptions]="{standalone: true}">
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>

      <!-- Buttons -->
      <div class="flex justify-end space-x-3">
        <button (click)="onCancel()" class="bg-gray-400 hover:bg-gray-500 text-white px-4 py-2 rounded">
          Cancel
        </button>
        <button (click)="onSave()" class="bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded">
          Save
        </button>
      </div>
    </form>

  </div>
</div>