<nav class="w-full bg-transparent shadow-md z-50">
  <div class="container mx-auto flex items-center justify-between px-6 py-4">
    <!-- Logo -->
    <a routerLink="/dashboard" class="text-2xl font-bold tracking-wide text-white">Saloni
      <svg class="h-8 w-8 text-red-500 inline" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round">
        <path
          d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z" />
      </svg>
      Mahendra</a>

    <!-- Desktop Menu -->
    <ul *ngIf="authService.isAuthenticated" class="hidden md:flex space-x-6">
      <li><a routerLink="/dashboard" class="nav-link">Home</a></li>
      <li *ngIf="authService.isAdmin"><a routerLink="/manage-users" class="nav-link">Manage Users</a></li>
      <li *ngIf="authService.isAdmin"><a routerLink="/dashboard" class="nav-link">Manage Albums</a></li>
      <li>
        <button (click)="logout()" class="text-white bg-red-500 px-3 py-1 rounded">Logout</button>
      </li>
    </ul>

    <!-- Mobile Menu Button -->
    <button class="md:hidden text-white" (click)="toggleMenu()">
      <i class="fas fa-bars text-2xl text-white"></i>
    </button>
  </div>

  <!-- Mobile Menu -->
  <div *ngIf="isMenuOpen" class="md:hidden text-white bg-white/20 backdrop-blur-lg py-4">
    <ul class="text-center space-y-4">
      <li><a routerLink="/" class="nav-link">Home</a></li>
      <li><a routerLink="/dashboard" class="nav-link">Manage Users</a></li>
      <li><a routerLink="/dashboard" class="nav-link">Manage Albums</a></li>
      <li><button (click)="logout()" class="nav-link">Logout</button></li>
    </ul>
  </div>
</nav>

<app-loader [isLoading]="isLoading" [message]="loadingMessage"></app-loader>